
<div class="row mt-5">
    <div class="col-4">
        <div class="jumbotron">
            <button class="btn-lg btn-success">Category Add</button>
        </div>
    </div>
    <div class="col-4">
        <div class="jumbotron">
            <button class="btn-lg btn-success">Category Delete</button>
        </div>
    </div>
    <div class="col-4">
        <div class="jumbotron">
            <button class="btn-lg btn-success">Category Edit</button>
        </div>
    </div>
</div>
