
<div class="container p-0">
    <div class="card px-4">
        <p class="h8 py-3">Payment Details</p>
        <div class="row gx-3">
            <div class="col-12">
                <div class="d-flex flex-column">
                    <p class="text mb-1">Card Holder Name</p> <input class="form-control mb-3" type="text" placeholder="Name">
                </div>
            </div>
            <div class="col-12">
                <div class="d-flex flex-column">
                    <p class="text mb-1">Card Number</p> <input class="form-control mb-3" type="text" placeholder="1234 5678 4356 1278">
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex flex-column">
                    <p class="text mb-1">Expiry</p> <input class="form-control mb-3" type="text" placeholder="MM/YYYY">
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex flex-column">
                    <p class="text mb-1">CVV</p> <input class="form-control mb-3 pt-2 " type="password" placeholder="***">
                </div>
            </div>
            <div class="col-12">
                @*<a href="~/Views/buyNow/Thankyou.html"> <div class="btn btn-primary mb-3"> <span class="ps-3">Pay </span> <span class="fas fa-arrow-right"></span> </div></a>*@
                <button class="btn btn-primary w-25 m-2 p-2"><a href="/buyNow/Thank" class="btnText text-white">Pay</a></button>
            </div>
        </div>
    </div>
</div>



